<h1>Current Available Balance</h1>
<p>50,000</p>
<h1>Day’s Total Transaction</h1>
<p>100</p>
<h1>Account Balance</h1>
<p>100</p>
<h1>PENDING TRANSACTIONS</h1>
<table id="customers">
  <tr>
    <th>TRANSACTION ID</th>
    <th>TRANSACTION TYPE</th>
    <th>TIME & DATE</th>
    <th>LOGGED ON</th>
  </tr>
  <tr>
    <td>KJLM451254</td>
    <td>DEPOSIT</td>
    <td>25.5.2018</td>
    <td>YES</td>
  </tr>
  
</table>
<h1>MOST RECENT TRANSACTIONS</h1>
<table id="customers">
  <tr>
    <th>TRANSACTION ID</th>
    <th>ACTION</th>
  </tr>
  <tr>
    <td>KJLM451254</td>
    <td>DROP DOWN</td>
  </tr>
</table>

