<div class="content">



        <div class="SubHeader">
            <ul>
                <li><a class="current" href="/external_financial_events/transactions">Payments</a></li>
                <li><a href="/external_financial_events/reconciled_transactions">Reconciled payments</a></li>
            </ul>
        </div><br>



        <div class="validity-summary-container">
            <ul></ul>
        </div>
        <div class="FinancialsTop">
            <table class="table dashboard-filter">
                <tbody>
                    <tr>
                        <td>
                            <label>Select outlet</label></td>
                        <td>
                            <select name="outlet" id="outlet"><option selected="selected" value="all">All</option>
<option value="40335">RENVIS GLASS - 322055</option></select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table FinancialsTop_FilterContainer">
                <tbody>
                    <tr>
                        <td><label>Select date</label></td>
                        <td><input type="text" name="daterange" id="daterange" value="19/12/2018 - 26/12/2018" class=" rangepicker DateContain"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="SummaryContainer">
            <div class="SummaryBox">
                <span class="SummaryNumbers"> 9 </span><br>
                <span class="SummaryTitle">Transactions</span>
            </div>

            <div class="SummaryBox">
                <span class="SummaryNumbers">86,910</span>
                <br>
                <span class="SummaryTitle">
      Total amount (KES)
    </span>
            </div>

            <div class="SummaryBox_right">
                <a class="MainButton MainButton_blue card-summary-one-col-inputbutton" href="/financial_statements">Account statement</a>
            </div>
        </div>



        <div class="PushTop_45  clearfix">
            <ul class="nav nav-tabs NewNav_container">
                <li class="active">
                    <a href="/external_financial_events/transactions">Payments</a>
                </li>
                <li><a href="/b2b_incoming_transfers">External B2B</a></li>
                <li><a href="/merchant_to_merchant_transfers">Internal B2B</a></li>
            </ul>

            <h3 class="FloatLeft PushTop_15">Transactions</h3>

            <div class=" ExportButtons FloatRight">
                <script type="text/javascript">
                    var search_text = $('div.dataTables_filter input').val();
                </script>


                <!--
    <input type="BUTTON" class="submit-button" value="New Export" onclick="export_data()"/>
    -->
                <div class="FloatRight btn-group RightContainer_apiHeader_button">
                    <button class="btn DropDown_apiButton ">Export</button>
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
                    <ul class="dropdown-menu   DropDown_SubMenu">
                        <li><a href="#">Export CSV</a></li>
                        <li><a href="#">Export PDF</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="content-box-content">
            <!--<div class="validity-summary-container">
  <ul></ul>
  </div>-->
            <div id="trans_table_wrapper" class="dataTables_wrapper" role="grid">
                <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix">
                    <div id="trans_table_length" class="dataTables_length"><label>Show <select size="1" name="trans_table_length" aria-controls="trans_table"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                    <div
                        class="dataTables_filter" id="trans_table_filter"><label>Search: <input type="text" aria-controls="trans_table"></label></div>
                <div id="trans_table_processing" class="dataTables_processing" style="visibility: hidden;">Processing...</div>
                <div class="DTTT_container ui-buttonset ui-buttonset-multi" style="position: relative;"></div>
                <div class="clear"></div>
            </div>
            <table id="trans_table" class="display display-mouse-pointer dataTable" aria-describedby="trans_table_info">
                <thead>
                    <tr role="row">
                        <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="trans_table" rowspan="1" colspan="1" aria-sort="descending" aria-label="Date: activate to sort column ascending">
                            <div class="DataTables_sort_wrapper">Date<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-s"></span></div>
                        </th>
                        <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="trans_table" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">
                            <div class="DataTables_sort_wrapper">Name<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                        </th>
                        <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="trans_table" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending">
                            <div class="DataTables_sort_wrapper">Phone<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                        </th>
                        <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="trans_table" rowspan="1" colspan="1" aria-label="Amount: activate to sort column ascending">
                            <div class="DataTables_sort_wrapper">Amount<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                        </th>
                        <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="trans_table" rowspan="1" colspan="1" aria-label="Reference ID: activate to sort column ascending">
                            <div class="DataTables_sort_wrapper">Reference ID<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                        </th>
                        <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="trans_table" rowspan="1" colspan="1" aria-label="Till number: activate to sort column ascending">
                            <div class="DataTables_sort_wrapper">Till number<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                        </th>
                        <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="trans_table" rowspan="1" colspan="1" aria-label="Service: activate to sort column ascending">
                            <div class="DataTables_sort_wrapper">Service<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                        </th>
                        <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="trans_table" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">
                            <div class="DataTables_sort_wrapper">Status<span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                        </th>
                    </tr>
                </thead>

                <tbody class="tbodytab2" role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="odd" id="buygoodstransaction_57788103">
                        <td class=" sorting_1">2018-12-24 18:11</td>
                        <td class="">OKARU MAROKO PETER</td>
                        <td class="">+254725900741</td>
                        <td class="">16000.00</td>
                        <td class="">MLO3QKD171</td>
                        <td class="">322055</td>
                        <td class="">M-PESA</td>
                        <td class="">Received</td>
                    </tr>
                    <tr class="even" id="buygoodstransaction_57782759">
                        <td class=" sorting_1">2018-12-24 17:39</td>
                        <td class="">MAINA OSORO</td>
                        <td class="">+254722824116</td>
                        <td class="">15000.00</td>
                        <td class="">MLO2QJ56JM</td>
                        <td class="">322055</td>
                        <td class="">M-PESA</td>
                        <td class="">Received</td>
                    </tr>
                    <tr class="odd" id="buygoodstransaction_57775781">
                        <td class=" sorting_1">2018-12-24 16:56</td>
                        <td class="">MESHACK ODHIAMBO</td>
                        <td class="">+254729729305</td>
                        <td class="">2710.00</td>
                        <td class="">MLO2QHJ9TC</td>
                        <td class="">322055</td>
                        <td class="">M-PESA</td>
                        <td class="">Received</td>
                    </tr>
                    <tr class="even" id="buygoodstransaction_57721918">
                        <td class=" sorting_1">2018-12-24 10:40</td>
                        <td class="">HENRY MKUTU</td>
                        <td class="">+254722999143</td>
                        <td class="">6800.00</td>
                        <td class="">MLO8Q5DD56</td>
                        <td class="">322055</td>
                        <td class="">M-PESA</td>
                        <td class="">Received</td>
                    </tr>
                    <tr class="odd" id="buygoodstransaction_57588263">
                        <td class=" sorting_1">2018-12-23 11:22</td>
                        <td class="">INNOCENT MOSE</td>
                        <td class="">+254723670015</td>
                        <td class="">10000.00</td>
                        <td class="">MLN7PFS17L</td>
                        <td class="">322055</td>
                        <td class="">M-PESA</td>
                        <td class="">Received</td>
                    </tr>
                    <tr class="even" id="buygoodstransaction_57517518">
                        <td class=" sorting_1">2018-12-22 20:32</td>
                        <td class="">GEOFFREY MACHUKI.</td>
                        <td class="">+254718442316</td>
                        <td class="">2000.00</td>
                        <td class="">MLM4P5FPRC</td>
                        <td class="">322055</td>
                        <td class="">M-PESA</td>
                        <td class="">Received</td>
                    </tr>
                    <tr class="odd" id="buygoodstransaction_57434500">
                        <td class=" sorting_1">2018-12-22 12:18</td>
                        <td class="">ORUTWA MARWANGA</td>
                        <td class="">+254722617078</td>
                        <td class="">20400.00</td>
                        <td class="">MLM2ONQC1G</td>
                        <td class="">322055</td>
                        <td class="">M-PESA</td>
                        <td class="">Received</td>
                    </tr>
                    <tr class="even" id="buygoodstransaction_57280258">
                        <td class=" sorting_1">2018-12-21 14:33</td>
                        <td class="">JUSTUS OMONDI OKONJI</td>
                        <td class="">+254724078031</td>
                        <td class="">6000.00</td>
                        <td class="">MLL7NX0O1L</td>
                        <td class="">322055</td>
                        <td class="">M-PESA</td>
                        <td class="">Received</td>
                    </tr>
                    <tr class="odd" id="buygoodstransaction_57145473">
                        <td class=" sorting_1">2018-12-20 16:49</td>
                        <td class="">INNOCENT MOSE</td>
                        <td class="">+254723670015</td>
                        <td class="">8000.00</td>
                        <td class="">MLK6N9FVUS</td>
                        <td class="">322055</td>
                        <td class="">M-PESA</td>
                        <td class="">Received</td>
                    </tr>
                </tbody>
            </table>
            <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
                <div class="dataTables_info" id="trans_table_info">Showing 1 to 9 of 9 entries</div>
                <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_full_numbers" id="trans_table_paginate"><a tabindex="0" class="first ui-corner-tl ui-corner-bl fg-button ui-button ui-state-default ui-state-disabled" id="trans_table_first">First</a><a tabindex="0" class="previous fg-button ui-button ui-state-default ui-state-disabled" id="trans_table_previous">Previous</a><span><a tabindex="0" class="fg-button ui-button ui-state-default ui-state-disabled">1</a></span>
                    <a
                        tabindex="0" class="next fg-button ui-button ui-state-default ui-state-disabled" id="trans_table_next">Next</a><a tabindex="0" class="last ui-corner-tr ui-corner-br fg-button ui-button ui-state-default ui-state-disabled" id="trans_table_last">Last</a></div>
            </div>
        </div>

        <script type="text/javascript">
            function assign_dates() {
                var date_value = $('#daterange').val();
                range = jQuery.trim(date_value);
                if (range.indexOf('-') == -1) { //non date range
                    fd = range;
                    td = range;
                } else { //date range
                    frm_date = range.split("-")[0];
                    fd = jQuery.trim(frm_date);
                    t_date = range.split("-")[1];
                    truncated 5495 bytes...
        </script>
        <div id="Pagination"></div>
    </div>
    <!-- end .content-box-content -->

    <div class="push"></div>
    </div>

    <!-- end content -->
