 <ul>
    <li><%= link_to "Within Money Transfer ", transfer_money_within_money_transfer_path %></li>
    <li><%= link_to "Transfer to Banks", transfer_money_transfer_to_banks_path %></li>
    <li><%= link_to "Mobile Money", transfer_money_mobile_banks_path %></li>
 </ul>
 
 <h1>RECENT TRANSACTIONS</h1>
<table id="customers">
  <tr>
    <th>TIME & DATE</th>
    <th>DESTINATION</th>
    <th>AMOUNT</th>
    <th>STATUS</th>
  </tr>
  <tr>
    <td>25.5.2018 23.00</td>
    <td>ABC BANK JOSEPH CHRIS HATENS 03001548759</td>
    <td>kes 50,000</td>
    <td>COMPLETED</td>
  </tr>
  <tr>
    <td>25.5.2018 23.00</td>
    <td>HITSAVEGROUP JOSEPH CHRIS HATENS 03001548759</td>
    <td>kes 50,000</td>
    <td>REVERSED</td>
  </tr>
  
</table>