<div class="content">



        <div class="SubHeader">
            <ul>
                <li><a class="current" href="/make_a_transaction/deposit_from_mpesa">Deposit from MPESA </a></li>
                <li><a href="/make_a_transaction/transfer_money">Transfer Money</a></li>
                <li><a class="current" href="/make_a_transaction/buy_airtime">Buy Airtime</a></li>
                <li><a href="/make_a_transaction/bulk_payment">Bulk Payment</a></li>
                <li><a class="current" href="/make_a_transaction/withdraw_cash">Withdraw Cash</a></li>
                <li><a class="current" href="/make_a_transaction/invest_your_money">Invest Your Money</a></li>
            </ul>
        </div><br>



        <div class="content">